* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ff5f92, #feb47b);
  }
  
  .game-container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-bottom: 20px;
  }
  
  .cell {
    width: 100%;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cell:hover {
    background-color: #f1f1f1;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .game-result {
    display: none;
    margin-top: 20px;
  }
  
  .game-result h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  #new-game {
    width: 100%;
  }
  
 
  @media (max-width: 600px) {
    h1 {
      font-size: 1.5em;
    }
  
    .board {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .cell {
      padding: 40px;
    }
  
    button {
      width: 100%;
    }
  }
  
  